body {
    background: #60b1d1; 
    transition: background-color 1s ease;
}

* {padding: 0; margin: 0;}

.head-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  height: 937px;
  //background: #60b1d1;  
  /*#6D4DFF 0%, #504DFF 54%*/
}

.inner-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  height: 937px;
  //background: #d18060;
}

body h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 100px; 
  margin-top: 0%;
  text-align: center;
  color: white;
}

body h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-top: 0%;
  margin-left: 18%;
  color: white;
}

body h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: white;
}

.color-blue {
  background: #60b1d1;
}

.color-brown {
  background: #d18060;
}
